.inventory-container {
  background-color: white;
  .content {
    background-color: white;
    min-height: 625px;
    margin-top: 5%;
    border: 1px;
  }
  .spinner-position {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
  }
  .pagination {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 18px;    
  }
}